services:
    pg:
        image: postgres:18
        restart: on-failure
        environment:
            POSTGRES_PASSWORD: postgres
            POSTGRES_USER: postgres
            POSTGRES_DB: postgres
        volumes:
            - pg_data:/var/lib/postgresql/data
        ports:
            - 5432:5432
        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}",
                ]
            start_interval: 1s
            start_period: 1m30s
            interval: 30s
            timeout: 10s
            retries: 10

    nats:
        image: nats:2-alpine
        restart: on-failure
        volumes:
            - nats_data:/data
        ports:
            - 4222:4222
            - 8222:8222
        healthcheck:
            test: wget http://localhost:8222/healthz -q -S -O -
            start_interval: 1s
            start_period: 30s
            retries: 10
            timeout: 10s
            interval: 30s
        command: "--port 4222 --http_port 8222 --auth nats -js -sd /data"

    rustfs:
        image: rustfs/rustfs:latest
        restart: on-failure
        volumes:
            - rustfs_data:/data
        ports:
            - 9000:9000
            - 9001:9001
        environment:
            RUSTFS_ACCESS_KEY: admin
            RUSTFS_SECRET_KEY: admin
            RUSTFS_CONSOLE_ENABLE: true
        command: "--console-enable /data"

    mailpit:
        image: axllent/mailpit
        restart: on-failure
        volumes:
            - mailpit_data:/data
        ports:
            - 8025:8025
            - 1025:1025
        healthcheck:
            test: wget http://localhost:8025/readyz -q -S -O -
            start_interval: 1s
            start_period: 30s
            retries: 10
            timeout: 10s
            interval: 30s
        environment:
            MP_MAX_MESSAGES: 5000
            MP_DATABASE: /data/mailpit.db
            MP_SMTP_AUTH: admin:admin
            MP_SMTP_AUTH_ALLOW_INSECURE: 1
volumes:
    pg_data:
    rustfs_data:
    nats_data:
    mailpit_data:
